@{
    ViewData["Title"] = "All";
}

<section class="py-5">
    <div class="container">
        <h1 style="margin: 2%; text-align: center;">All Posts</h1>
        <div style="margin: 2%; text-align: center;">
            <a class="nav-link text-dark" asp-area="" asp-controller="Blog" asp-action="AddPost"><strong>Add Post</strong></a>
        </div>
        <div style="padding: 5%;">
            <table class="table">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">Username</th>
                        <th scope="col">Post</th>
                        <th scope="col">CreatedOn</th>
                        <th scope="col">Likes</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>

                   @foreach (var item in Model)
                    {
                      <tr>
                        <th scope="row">@item.UserName</th>
                        <td>@item.Text</td>
                        <td>@item.CreatedOn</td>
                        <td>@item.Likes.Count</td>
                        <td>
                            <form asp-controller="Blog" asp-action="All" method="post">
                                <input type="hidden" name="postId" value="@item.Id" />
                                <input type="submit" class="btn btn-outline-primary" value="Like" />
                            </form>
                        </td>
                      </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</section>
