@{
    ViewData["Title"] = "Blog";
}

<section class="ftco-section">
    <div class="container">
        <div class="row justify-content-center mb-5 pb-3">
            <div class="col-md-7 heading-section ftco-animate">
                <h2 class="mb-4">Blog</h2>
                <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in</p>
            </div>
        </div>
        @if (this.User.Identity.Name == "maria@abv.bg")
        {
            <div style="margin: 2%; text-align: center;">
                <a class="nav-link text-dark" asp-area="Administration" asp-controller="BlogAdmin" asp-action="AddAdminPost"><strong>Add Post to Blog</strong></a>
            </div>
        }

        <div class="row">

            @foreach (var item in Model)
            {
                <div class="col-md-4 ftco-animate">
                    <div class="blog-entry">
                        <img src="~/images/@item.ImageName" class="img-fluid" alt="Colorlib Template">
                        <a href="~/images/@item.ImageName" class="icon image-popup d-flex justify-content-center align-items-center">
                            <span class="icon-expand"></span>
                        </a>
                        <div class="text d-flex py-4">
                            <div class="meta mb-3">
                                <div><a href="#">@item.CreatedOn.ToString("dd/M/yyyy")</a></div>
                                <div><a href="#">Admin</a></div>
                                <div><a href="#" class="meta-like"><span class="icon-thumbs-up"></span>@item.BlogLikes.Count</a></div>
                                @*<div><a href="#" class="meta-chat"><span class="icon-chat"></span>@item.BlogComments.Count</a></div>*@
                                <form asp-controller="Blog" asp-action="Blog" method="post">
                                    <input type="hidden" name="blogPostId" value="@item.Id" />
                                    <input type="submit" class="btn btn-outline-primary" value="Like" />
                                </form>
                                <div>

                                </div>
                                <div class="button-holder">
                                    <a href="/Blog/AddBlogComment?blogPostId=@item.Id" class="btn text-dark">Comment</a>
                                </div>

                            </div>
                            <div class="desc pl-3">
                                <h3 class="heading"><a href="#">@item.Text</a></h3>
                                @if (item.BlogComments.Count != 0)
                                {
                                    <div>
                                        <ul class="list-unstyled">
                                            @foreach (var comment in item.BlogComments)
                                            {
                                                <li class="media">
                                                    <img class="mr-3" src="~/images/profile_pic.jpg" alt="Generic placeholder image" style="max-width: 45px">
                                                    <div class="media-body">
                                                        <h6 class="mt-0 mb-1">@comment.UserName</h6>
                                                        <div>
                                                            @comment.CommentText
                                                        </div>
                                                        <div class="text-muted small">
                                                            @comment.CreatedOn.ToString("F")
                                                        </div>
                                                        @if (this.User.Identity.Name == comment.UserName)
                                                        {
                                                            <div class="button-holder">
                                                                <a href="/Blog/EditBlogComment?blogCommentId=@comment.Id" class="btn btn-info">Edit</a>
                                                            </div>
                                                        }
                                                        @if (this.User.Identity.Name == "maria@abv.bg")
                                                        {
                                                            <div class="button-holder">
                                                                <a href="/Blog/DeleteBlogComment?blogCommentId=@comment.Id" class="btn btn-danger">Delete</a>
                                                            </div>

                                                        }
                                                    </div>
                                                </li>
                                                <hr />
                                            }
                                        </ul>
                                    </div>
                                }
                            </div>
                           @if (this.User.Identity.Name == "maria@abv.bg")
                            {
                                <div class="button-holder">
                                        <a href="/Blog/DeleteBlogPost?blogPostId=@item.Id" class="btn btn-danger">Delete</a>
                                </div>
                                
                            }
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</section>


